html {
background-color: #393939;
}

.input_email {
    background: radial-gradient(circle, #dcdcdc 0%, #929292 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    border-radius: 5px;
    height: 100px;
    width: 100px

}
.label_email {
    margin-left:20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px
}
