

html{
    background-color: #393939;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
Body{
    font-family: Arial;
    margin: 0px;
    font-style: normal;
    font-weight: 300;
    
}
h1.logo {
    font-family: "Audiowide";
    color: #FFFFFF;
    text-align: center;
}
nav table {
	text-align: center;
	list-style-type: none;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    
}

nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    background: linear-gradient(0deg, #6e9be7 0%, #dfe9fb 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;   
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

nav ul{
    display: inline
}
nav a:hover {
	background: linear-gradient(0deg, #3568a4 0%, #6388ac 100%);
    color: #FFFFFF;
}

:root {
    --gra_vert_lgt-whit-lgt-blue: linear-gradient(0deg, #6e9be7 0%, #dfe9fb 100%);
    --gra_vert_drk-whit-drk-blue: linear-gradient(0deg, #3568a4 0%, #6388ac 100%);
    --gra_horz_lgt-whit-drk-blue: linear-gradient(90deg, #325a9e00 0%, #325a9e60 20%, #325a9e9f 30%, #325a9ec5 40%, #32599e 100%);
    --gra_horz_lgt-blue-drk-blue: linear-gradient(90deg, #325a9e00 0%, #325a9e60 55%, #325a9e9f 70%, #325a9ec5 85%, #32599e 100%);
    --gra_radi_drk-blue-lgt-whit: radial-gradient(circle, #cfe2f3 0%, #71a5d6 100%);
    --gra_radi_drk-grey-lgt-grey: radial-gradient(circle, #dcdcdc 0%, #929292 100%);

    --gra_horz_lgt-whit-drk-blue_sel: linear-gradient(90deg, #008d7800 0%, #008d7860 20%, #008d789f 30%, #008d78c5 40%, #008d78 100%);
    
}



.main_background {background-color: #393939;}
.gra_vert_lgt-whit-lgt-blue {background: var(--gra_vert_lgt-whit-lgt-blue);}
.gra_vert_drk-whit-drk-blue {background: var(--gra_vert_drk-whit-drk-blue);}
.gra_horz_lgt-whit-drk-blue {background: var(--gra_horz_lgt-whit-drk-blue);}
.gra_horz_lgt-blue-drk-blue {background: var(--gra_horz_lgt-blue-drk-blue);}
.gra_radi_drk-blue-lgt-whit {background: var(--gra_radi_drk-blue-lgt-whit);}
.gra_radi_drk-grey-lgt-grey {background: var(--gra_radi_drk-grey-lgt-grey);}

.box{
    width: 80%;
    height: 50%;
    border: 1px solid black;
    align-content: center;
    background: linear-gradient(0deg, #6e9be7 0%, #dfe9fb 100%);
    padding: 0;
    margin-left: 10%;
    margin-top: 6%;
}

.blue_center_box{
    height: 200px;
    width: 610px;
    background: linear-gradient(0deg, #6e9be7 0%, #dfe9fb 100%);
    margin-left: 30%;
    margin-top: 6%;
}
.confirm_text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
}
.button{
    height: 30px;
    width: 200px;
    background: radial-gradient(circle, #dcdcdc 0%, #929292 100%);;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    border: black;
    border-style: solid;
    border-width: 0.5px;
    margin: auto
}
.blackText{
    font-family: Trebuchet MS;
    color: #000000;
    font-size: medium;
    font-weight: bold;
}

.boxed {
    height: 400px;
    width: 700px;
    background: linear-gradient(0deg, #6e9be7 0%, #dfe9fb 100%);
    border-color: grey;
    border-width: 2px;
    color: black;
}

.centered {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.input_email {
    background: radial-gradient(circle, #dcdcdc 0%, #929292 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    border-radius: 5px;
    height: 15%;
    width: 70%;
    margin-bottom: 2%
}
.input_special {
    background: radial-gradient(circle, #dcdcdc 0%, #929292 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    border-radius: 5px;
    height: 15%;
    width: 70%;
    margin-bottom: 2%;
    margin-top: 1%
}
.label_email {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-left: 2%
}