
html{
    background-color: #393939;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
Body{
    font-family: Arial;
    color: #9CB4C8;
    margin: 0px;
    font-style: normal;
    font-weight: 300;
}
h1.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
nav ul {
	text-align: center;
	list-style-type: none;
}
nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    background: linear-gradient(0deg, #6e9be7 0%, #dfe9fb 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3em;   
}

nav ul{
    display: inline
}
nav a:hover {
	background: linear-gradient(0deg, #3568a4 0%, #6388ac 100%);
    color: #FFFFFF;
}

:root {
    --gra_vert_lgt-whit-lgt-blue: linear-gradient(0deg, #6e9be7 0%, #dfe9fb 100%);
    --gra_vert_drk-whit-drk-blue: linear-gradient(0deg, #3568a4 0%, #6388ac 100%);
    --gra_horz_lgt-whit-drk-blue: linear-gradient(90deg, #325a9e71 0%, #325a9e9c 20%, #325a9ec4 30%, #32599e 40%, #32599e 100%);
    --gra_horz_lgt-blue-drk-blue: linear-gradient(90deg, #3d86c6 0%, #225798 42%, #113d8a 100%);
    --gra_radi_drk-blue-lgt-whit: radial-gradient(circle, #cfe2f3 0%, #71a5d6 100%);
    --gra_radi_drk-grey-lgt-grey: radial-gradient(circle, #dcdcdc 0%, #929292 100%);
}



.main_background {background-color: #393939;}
.gra_vert_lgt-whit-lgt-blue {background: var(--gra_vert_lgt-whit-lgt-blue);}
.gra_vert_drk-whit-drk-blue {background: var(--gra_vert_drk-whit-drk-blue);}
.gra_horz_lgt-whit-drk-blue {background: var(--gra_horz_lgt-whit-drk-blue);}
.gra_horz_lgt-blue-drk-blue {background: var(--gra_horz_lgt-blue-drk-blue);}
.gra_radi_drk-blue-lgt-whit {background: var(--gra_radi_drk-blue-lgt-whit);}
.gra_radi_drk-grey-lgt-grey {background: var(--gra_radi_drk-grey-lgt-grey);}
